#pass {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

#pass:before {
	content: "";
	position: absolute;
    left: -20vh;
	width: 100vh;
	height: 100%;
	z-index: -1;
	background: url('IMG_4032.PNG');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#datetime {
    position: relative;
    top: 81%;
    text-align: center;
    font-size: 4.5vh;
    font-weight: 500;
    color: black;
    background-color: white;
}

#flashblock {
    position: relative;
    top: 81.5%;
    height: 5%;
    background-color: white;
}

#timeremaining {
    position: relative;
/*    right: 5.5%;*/
    margin-top: -11%;
    margin-left: 26%;
    margin-right: 6.5%;
    text-align: right;
    font-size: 3.5vh;
    font-weight:500;
    color: black;
    background-color: white;
}
