<<<<<<< HEAD
p {
    text-align: center;
    line-height: 90%;
    font-weight: 500;
}

img {
    width: 23vh;
    display: block;
    margin: auto;
}

.color1box {
    background-color: darkseagreen;
    background-image: linear-gradient(to bottom, darkseagreen, white, darkseagreen);
    height: 25vh;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
}

.rec {
    display:inline-block;
    width: 32vw;
    height: 3vh;
}

#header {
    text-align: center;
    font-weight: 500;
    font-size: 4vh;
}

#zonenumber {
    font-size: 900%;
    font-size: 20vh;
}

#zones {
    font-size: 250%;
    font-size: 5vh;
    line-height: 50%
}

#month {
    width: 25vh;
    margin-top: 2%;
    float: left;
}

#mon {
    margin-top: 15%;
    font-size: 8vh;
    line-height: 115%
}

#year {
    margin-top: 15%;
    font-size: 8vh;
    line-height: 115%
}

#imgcontainer {
    margin-right: 2%;
    margin-top: 4%;
    overflow: hidden;
}

#tap {
    margin-top: 2%;
    font-weight: 400;
}

#datetime {
    float: both;
    margin-top: 40%;
    text-align: center;
    font-size: 3.5vh;
    font-weight: 500;
}

#colorbars {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
=======
#pass {
    height: 100vh;
    background-image: url('IMG_4032.PNG');
    background-size: cover;
}

#datetime {
    position: relative;
    top: 81%;
    text-align: center;
    font-size: 4.5vh;
    font-weight: 500;
    color: black;
    background-color: white;
}

#flashblock {
    position: relative;
    top: 81.5%;
    height: 5%;
    background-color: white;
}

#timeremaining {
    position: absolute;
    right: 6%;
    top: 93%;
    font-size: 3.5vh;
    font-weight:500;
    color: black;
    background-color: white;
>>>>>>> new
}

#rectangle1 {
    background-color: aqua;
}

#rectangle2 {
    margin-left: -1%;
    background-color: orange;
}

#rectangle3 {
    margin-left: -1%;
    background-color: black;
}

<<<<<<< HEAD
#back {
    float: left;
    margin-left: 7vw;
    margin-top: 2vh;
    font-size: 2.5vh;
    font-weight: 400;
    text-align: left;
    color: dodgerblue;
}

#timeremaining {
    float: right;
    margin-right: 6vw;
    margin-top: 1vh;
    font-size: 3vh;
    font-weight:500;
}

=======
>>>>>>> new
